.mask{
    width:100%;
    height: 110vh;
    position: relative;
}

.intro-img{
  position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
 .mask::after{
    content: "";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left: 0;
    background-color: rgb(59, 3, 69);
    opacity: 0.8;
 }

 .hero{
    height: 100%;
    width:100%;
 }

 .hero .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left:70%;
    text-align: center;
    

}


.hero .content h2{
  position: relative;
    font-size: 4rem;
    padding:0.6rem 0 1.5rem;
    transition: left 2s ease forwards;
}
.hero .content h2:hover{
  left: -20px;
}
.hero .content p{
  position: relative;
    font-size:1.4rem;
    font-weight:400;
    text-transform:uppercase;
    opacity: 0;
     animation: slide 1s ease forwards;
     transition: left 2s ease forwards;
}

.hero .content p:hover{
  left: -20px;
}

.content .btn{
    margin:1rem 0.2rem;
}
#secondP{
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 200;
  text-transform: none;
 
}
@media screen and (max-width:900px){
    .hero .content h1{
        font-size: 3rem;
    }

    .hero .content p{
        font-size:1.4rem;
        opacity: 0;
        animation: slide 1s ease forwards;
    }

    .hero .content p:hover{
      left: 0;
    }
    .hero .content h2:hover{
      left:0;
    }
    
    .hero .content{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 285px;
        left:50%;
        text-align: center;
    
    }
    .hero .portrait-container {
        position: relative;
        width:150px;  
        height: 200px;  
        top:-30px;
        left:31%;
      }

      .hero .main img {
        
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px; 
        border-radius: 50%;
        opacity: 0.7;
      }
      .portrait-container:hover{
        left: 0;
      }
   
}
.hero .main{
    display: flex;
    position: absolute;
    top:25%;
    width: 100%;

    
}
.portrait-container {
    position: relative;
    width:300px;
    height:370px;  
    top:0;
    left:200px;
    transition: left 1s;
  }
  .portrait-container:hover{
    left: 160px;
  }

  /*.portrait-container img{
    height: 80%;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
  }
  */

  
  .neon-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); 
    animation: neonGlow 2s infinite alternate; 
  }
  
  @keyframes neonGlow {
    from {
      box-shadow: 0 0 65px rgba(255, 0, 0, 0.5);
    }
    to {
      box-shadow: 0 0 65px rgba(0, 255, 255, 0.5);
    }
  }
  
  .main img {
    display: block;
    width: 300px;
    height: 370px;
    object-fit: cover;
    border-radius: 8px; 
    border-radius: 50%;
    opacity: 0.7;
  }
  

  #changing-word {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
    animation: slide 1s ease forwards;
    
  }
  
  @keyframes fadeInOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }
/*
  @keyframes fadeOutIn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }*/